header {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  background-color:rgb(215, 226, 240);
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  margin:auto;
}

.avatar img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: contain;
  margin-top: 40px;
}


.name {
  margin-top: 2px;
  text-align: center;
  font-size: 30px;
  justify-content: bottom;
  color: #4056A1;
}

