/* Styles for the New Tweet Section */
.new-tweet {
  margin: 20px 0;
  width: 100%;
}

/* Styles for the form within the New Tweet Section */
.new-tweet form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Styles for labels within the New Tweet Section */
.new-tweet label {
  font-weight: bold;
  margin-bottom: 20px;
}

/* Styles for the footer within the New Tweet Section */
.new-tweet .form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

/* Styles for the textarea within the New Tweet Section */
.new-tweet textarea {
  display: flex;
  flex-direction: column;
  border-left-style: hidden;
  border-top-style: hidden;
  border-right-style: hidden;
  border-bottom: 5px solid;
  background-color: transparent;
}

/* Styles for buttons within the New Tweet Section */
.new-tweet button {
  background-color: rgb(216, 159, 12);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: auto;
}

/* Styles for Error Messages */
.error-message {
  color: red;
  font-size: 20px;
  margin-top: 8px;
  display: none;
  border: 2px solid red;
  padding: 8px;
  font-weight: bold;
}

/* Styles for the Character Counter */
.new-tweet .counter {
  font-size: 30px;
  color: #181515;
  margin-top: 5px;
  font-weight: bold;
}
