.form {
  display: flex;
 font-weight: bold;
}

.button {
  font-family: bungee;
  color: #FFFFFF;
  background-color: #4056A1; 
  margin-top: 20px;
}

.textBox {
  display: flex;
  background-color: #f4f1ec;
  flex-direction: column;
  border-left-style: hidden;
  border-top-style: hidden;
  border-right-style: hidden;
  border-bottom: 5px solid;
  width: 100%;
}

.counter {
  display: flex;
  justify-content: flex-end;
  font-family: bungee;
  font-weight: bolder;
  margin-top: -40px;

}