/* Style the new-tweet section */
.new-tweet {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 20px;
  width: 100%; /* Make the form take up full width */
}

/* Style the form elements inside the new-tweet section */
.new-tweet form {
  display: flex;
  flex-direction: column;
  width: 100%; /* Make the form take up full width */
}

.new-tweet label {
  font-weight: bold;
  margin-bottom: 10px;
}

.new-tweet .form-footer {
  display: flex;
  justify-content: space-between; /* Put items at the start and end of the container */
  align-items: center; /* Vertically center items */
  margin-top: 10px;
}

.new-tweet textarea {
  height: 150px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  width: 100%; /* Make the textarea take up full width */
}

.new-tweet button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: auto; /* Allow the button to have its natural width */
}

/* Style the counter output */
.new-tweet .counter {
  font-size: 30px;
  color: #181515;
  margin-top: 5px;
  font-weight: bold;
}
