/* Style the new-tweet section */
.new-tweet {
  background-color:rgb(215, 226, 240);
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  margin: 20px;
  width: 100%; /* Make the form take up full width */
}

/* Style the form elements inside the new-tweet section */
.new-tweet form {
  display: flex;
  flex-direction: column;
  width: 100%; /* Make the form take up full width */
}

.new-tweet label {
  font-weight: bold;
  margin-top: 20px;
}

.new-tweet .form-footer {
  display: flex;
  justify-content: space-between; /* Put items at the start and end of the container */
  align-items: center; /* Vertically center items */
  margin-top: 10px;
}

.new-tweet textarea {
  display: flex;
  background-color:rgb(215, 226, 240);
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  flex-direction: column;
  border-left-style: hidden;
  border-top-style: hidden;
  border-right-style: hidden;
  border-bottom: 5px solid;
  width: 100%;
}

.new-tweet button {
  background-color: #4056A1;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: auto; /* Allow the button to have its natural width */
}

/* styles.css */

/* Style the error message container */
.error-message {
  color: red;
  font-size: 20px;
  margin-top: 8px;
  display: none;
  border: 2px solid red; /* Add a red border */
  padding: 8px; /* Add padding to create space between the border and text */
  font-weight: bold; /* Make the font bold */
}


/* Style the counter output */
.new-tweet .counter {
  font-size: 30px;
  color: #181515;
  margin-top: 5px;
  font-weight: bold;
}

