/* Style the tweet container */
.tweet {
  padding: 15px;
  margin: auto;
  border-radius: 15px;
  border-color: black;
  transition: all 0.3s ease;
  background-color:rgb(217, 224, 238);
  height: 200px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
 
}
.user-avatar {
  width: 60px;
  height: 50px; 
  border-radius: 50%;
  margin-right: 15px;
  margin-top: 10px;
}

.user-icon {
  font-size: 30px;
  padding-bottom: 50px;
}
.center-align {
  display: flex;
  text-align: center;
  padding-bottom: 50px;
}

/* Style the user's name */
.tweet .user-name {
  font-size: 25px;
  font-weight: bold;
  margin-right: 980px;
  text-align: center;
  margin-top: 20px;
}
/* Style the user's handle */
.tweet .user-handle {
  font-size: 14px;
  color: #777;
}

/* Style the tweet content */
.tweet .tweet-content {
  font-size: 18px;
  margin-top: 10px;
}

/* Style the tweet footer */
.tweet footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  color: #777;
}

/* Style the tweet time */
.tweet .tweet-time {
  font-size: 14px;
}

/* Style the tweet actions (icons) */
.tweet .tweet-actions {
  font-size: 20px;
  display: flex;
  justify-content: flex-end; /* Align the icons to the right */
  align-items: center;
}



/* Hover state for the flag icon on hover */
.tweet .fa-flag:hover {
  color: #ff0000; /* Change the flag color on hover (lighter red) */
  transform: scale(1.1); /* Scale the icon slightly on hover */
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out; /* Add smooth transitions */
}

/* Change the color of the heart (like) icon on hover */
.tweet .fa-heart:hover {
  color: #e01515;
}

/* Change the color of the retweet icon on hover */
.tweet .fa-retweet:hover {
  color: #17bf63;
}

